<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1 class="page-header">Problem Editor</h1>

	<form action="#" th:action="@{/student/addObject/submit}" th:object="${student}" method="get">
		<div>
			<label >NPM</label> <input type="text" th:field="*{npm}" />
		</div>
		<div>
			<label >Name</label> <input type = "text"  th:field="*{name}" />
		</div>
		<div>
			<label>GPA</label> <input type = "text"  th:field="*{gpa}" />
		</div>

		<div>
			<button type="submit" name="action" value="save">Save</button>
		</div>
	</form>

</body>

</html>

