<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="fragments/base-view :: header"></div>
</head>

<body>	

	<form action="#" th:action="@{/student/updateObject/submit}" th:object="${student}" method="post">
		<div>
			 <p>NPM: <input type="text" readonly = "true" th:field="*{npm}" /></p>
		</div>
		<div>
			<p>Name: <input type = "text"  th:field="*{name}" /></p>
		</div>
		<div>
			<p>GPA: <input type = "text"  th:field="*{gpa}" /></p>
		</div>

		<div>
			<button type="submit" name="action" value="save">Update</button>
		</div>
	</form>

</body>

</html>

